{% extends "home.html" %}

{% load static %}
    <!--<link rel="stylesheet" href="{%static 'css/myestilo.css'%}">-->
    <!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">-->
{% block contenido %}
    <p> Hola soy un estudiante... </p>
    <div class="contenidoEstudiante">
        <form class="formDataEstudiante" action="/AppCoder/estudiantes/" method="POST"> {% csrf_token %}
            <input type="text" name="nombre" placeholder="nombre">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="email" name="email" placeholder="Email">
            <button type="submit" class="btn btn-primary btndj">Registrar</button>

        </form>
    </div>
    <div>
        <form class="formDataEstudiante" action="/AppCoder/buscar_estudiante/" method="GET">
            <input type="email" name="email" placeholder="Email">
            <button type="submit" class="btn btn-primary btndj">Buscar</button>

        </form>
    </div>
    
    <div>
        {% if estudiantes %}
        <ul>
            {% for estudiante in estudiantes %}
            <li> {{estudiante.nombre}} </li>
            <li> {{estudiante.apellido}} </li>
            <li> {{estudiante.email}} </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}